.swal2-modal {
  font-family: $body-font-family;
  border-radius: 10px;

  &.swal2-popup {
    padding: 1rem 1rem .25rem 1rem;
  }

  .swal2-header {
    align-items: flex-start;
    padding: 0 0 .25rem;
    border-bottom: 1px solid #dfe3e6;

    .swal2-title {
      font-size: 16px;
    }
  }

  .swal2-content {
    text-align: left;
    padding: 1rem 0.25rem;
    border-bottom: 1px solid #dfe3e6;
    font-size: 14px;

    .swal2-html-container {
      .p-grid {
        margin: 0 !important;
      }
    }
  }

  .swal2-actions {
    justify-content: flex-end;
    margin-top: .25rem;
    padding: 0;

    button {
      box-shadow: $btn-box-shadow;
      min-width: 64px;
      height: 36px;
      padding: 0 16px;
      font-size: 0.875rem;
      font-weight: 500;
      border-radius: 10px;
    }
  }
}
